#landing{
    padding: 3% 0%;
    text-align: center;
}
.quote{
    padding: 0% 15%;
    font-family: 'Poppins';
    font-size: 3rem;
    font-weight: 700;
    color: #273f20;
}

span{
    color: red;
}

.carousel-inner {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure the carousel items take up the full height */
}

.carousel-item {
     text-align: center; /*Center the image horizontally */
}

.carousel-item{
    height: 65vh;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: 100vh;
}

.carouselBtn{
    background-color: #00FF00;
    border-radius: 15%;
}

#Help{
    background: linear-gradient(rgba(0,0,0,0.5), #009688), url('../images/HelpOption/DonateFood.jpg');
    background-size: cover;
    background-position: center;
    padding: 3% 15%;
    justify-content: center;
    text-align: center;
    /* background-color: #87fd87; */
}

#Help h2{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 2.5rem;
    color:#b8ffb8;
}

#Help h3{
    font-family: 'Montserrat';
    color: white;
    margin-bottom: 5%;
}

#Help .row .col-lg-6 p{
    color: white;
    font-weight: 700;
}


#Help .row .col-lg-6 button{
    color: black;
    padding: 2% 3%;
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 15px;
    background-color: #87fd87;
    
}

#Help .row .col-lg-6 button:hover{
    color: #87fd87;
    border: 2px solid #87fd87;
    background: transparent ;
}

.workflow{
    margin: 2% 0px;
    text-align: center;
}

.workflow h2{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 2.5rem;
    color:#273f20;
    margin-bottom: 2%;
}

.workflow img{
    width: 70%;
}