.donationForm{
    padding: 3% 15%;
    background-size: cover;
    background-position: center;
    /* color: white; */
}

.img{
    background: linear-gradient(rgba(0,0,0,0.5), #009688), url('../images/donationForm.jpg');
    background-position: center;
    border-radius: 15px;
}

.form{
    border: 2px solid #009688;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form h2{
    font-family: 'Roboto';
    font-weight: 900;
}

.form form{
    text-align: left;
    padding: 2% 15%;
}

.form-control:focus {
    border-color: #87fd87;
    box-shadow: 0 0 0 0.2rem rgba(39, 229, 102, 0.25);
} 

.form-check-input:focus{
    border-color: #87fd87;
    box-shadow: 0 0 0 0.2rem rgba(39, 229, 102, 0.25);
}

.form-label{
    font-weight: 700;
    font-family: 'poppins';
}
.btncontainer{
    justify-content: center;
    text-align: center;
}
#submitbutton{
    color: white;
    padding: 2% 2%;
    max-width: 50%;
    font-family: "Montserrat";
    font-weight: 700;
    border-radius: 15px;
    background-color: #009688;
}

#submitbutton:hover{
    color: #009688;
    border: 2px solid #009688;
    background: transparent ;
}