.navbar{
    padding: 0% 15%;
}

.container-fluid{
    padding: 20px 0px;
    border-radius: 0px 0px 15px 15px;
    border: 2px solid #21351B;
}

.navLogo{
    width: 3.5em;
}

.navbar-brand p{
    display: inline-block;
    font-family: 'Roboto';
    font-size: 1.5rem;
    font-weight: 900;
    color: #21351B;
}


.nav-link{
    font-family: 'Montserrat';
    font-weight: 500;
    color: #21351B;
}

.nav-link:hover{
    font-family: 'Poppins';
    font-weight: 500;
    color: #55ff00;
}